---
import Section from "@layouts/Section.astro";
---

<Section title="About me">
  <p>
    Hello, I'm Manthan Awgan, hailing from <a
      class="cursor-pointer font-bold"
      href="https://www.google.com/maps/place/Mangaluru,+Karnataka/@12.9229922,74.8520636,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba35a4c37bf488f:0x827bbc7a74fcfe64!8m2!3d12.9141417!4d74.8559568!16zL20vMDFzdjZr?entry=ttu"
      target="_blank"
    >
      Nagpur, Maharashtra, India
    </a>, currently i'm in my first year at Vellore institute of technology, Bhopal. My
    educational goals as an aspiring engineer are driven by my genuine passion
    for technology and an innate love of sharing knowledge.
  </p>

  <p>
    I find peace in swimming, as it calms both my body and mind.
    When I’m not immersed in technology, I love listening to music,
     and playing football adds a spark of energy to my routine.
  </p>
</Section>
